<div class=>
	<div class="container team-page">
		<h1>
		<p class="well team_show pull-left"><%=link_to 'Join the team', memberships_path(:team_id => @team.id), method: :post%></p>
		<%=@team.name%></h1>
		<div class="team_image">
			<%= image_tag @team.avatar.url(:largecover) %>
		</div>
		<ul>
		<br><%@team.users.each do |user|%>
		</div>
		</div>
		<h3 class="roster_names">Roster</h3>
	<li class="roster_links"><%= link_to user.name, user_path(user)%></li>
<%end%>
<br><p class="game_form"><%= render :partial => 'games/game_form', :locals => {:game => @game, :teams => @teams, :opponent_team => @team.id} %>
</ul>