<div class=>
	<div class="container team-page">
		<h1>
		<p class="well pull-left team_show"><%=link_to 'Join the team', memberships_path(:team_id => @team.id), method: :post%></p>
		<%=@team.name%></h1>
		<ul>
		<%@team.users.each do |user|%>
		<%= image_tag @team.avatar.url(:medium) %>
		</div>
		</div>
	<li><%= link_to user.name, user_path(user)%></li>
<%end%>
<%= render :partial => 'games/game_form', :locals => {:game => @game, :teams => @teams, :opponent_team => @team.id} %>
</ul>