<div id="teampagefull">
	<div class="container team-page">
		<div class="jumbotron team_image">
			<header>
				<h1 class="team_name"><%=@team.name.upcase%></h1>
			</header>
			<div class="well team_show pull-right"><%=link_to 'Join', memberships_path(:team_id => @team.id), method: :post%>
			</div>
		</div>
			
	</div>
	<div class="col-sm-6 roster_names">
		<h3>Roster</h3>
		<ul>
		<% @team.users.each do |user|%>
			
			<li class="col-sm-3 roster_links"><%= link_to user.name, user_path(user)%></li>
		<%end%>
		</ul>
	</div>
	<div class="col-sm-6 game_form">
		<p><h3>Challenge</h3><%= render :partial => 'games/game_form', :locals => {:game => @game, :teams => @teams, :opponent_team => @team.id} %></p>
	</div>
</div>
<div class="jumbotron team_stats">
	<h2><%=@team.name.upcase  %> Stats
</div>
 <style type="text/css">
	.jumbotron.team_image {
		background-image: url(<%=@team.avatar.url(:largecover)%>)
	}
 </style>