<%= form_for(game, {:url => "/games"}) do |f| %>
	<% %>
	<%= f.hidden_field :team1_id, :value => opponent_team%>
	<%= f.label :name %>:
	<div class= "game_form_1"><%= f.text_field :name %></div>
	
	<%= f.label :your_team%>:
	<div class= "game_form_1"><%= f.select(:team2_id, teams)%></div>
	
	<%= f.label :address %>:
	<div class= "game_form_1"><%= f.text_field :address %></div>
	
	<%= f.label :date %>:
	<div class= "game_form_1"><%= f.text_field :date, :class => "game_date_select" %></div>
	<br/>
	<%= f.submit %>
<% end %>
<script type="text/javascript">
	$('.game_date_select').datepicker();
</script>