<%= stylesheet_link_tag "games.scss" %>
<h1>Game Page</h1>
<div class="col-md-2">
<table id="team1_players" class="roster">
<tr><th colspan="2"><%=@game.team1.name%></th></tr>
<%@game.team1.users.each do |user|%>
	<tr>
		<td><img src=<%=user.avatar.url(:thumb)%> id=<%="player_id_#{user.id}"%> class="player_image team1_player" title=<%=user.name%>></td> 
		<td><%=user.name%></td>
	</tr>
<%end%>
</table>
</div>
<div class="col-md-8" id="field-container">
<table id="football_field"></table>
</div>
<div class="col-md-2">
<table id="team2_players" class="roster">
<tr><th colspan="2">><%=@game.team2.name%></th></tr>
<% @game.team2.users.each do |user|%>
	<tr>
		<td><img src=<%=user.avatar.url(:thumb)%> id=<%="player_id_#{user.id}"%> class="player_image team2_player" title=<%=user.name%>></td> 
		<td><%=user.name%></td>
	</tr>
<%end%>
</table>
</div>