<%= form_for(team, {:url => "/teams"}) do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %>
  <br/>
  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>
  <%= f.submit %>

<% end %>