<!DOCTYPE html>
<html>
<head>
  <title>FinalProj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li role="presentation"><a href="#">Home</a></li>
			<li role="presentation"><a href="#">Profile</a></li>

		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li role="presentation"><a href="#">Messages</a></li>
			<li role="presentation"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
		</div>
	</div>
</nav>

<div id="container">
	<%= yield %>
</div>

<footer>Copyright Blah Blah 2015</footer>

</body>
</html>
